body {
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.profile-container h1 {
    margin: 0;
    font-size: 2em;
}

#weather {
    text-align: center;
    margin: 20px 0;
}

#weather-container {
    margin: 20px auto;
    max-width: 400px;
}

#weather-container p {
    font-size: 2em;
}

.repo-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.repo-btn:hover {
    background-color: #0056b3;
}

#newsletter {
    text-align: center;
    margin: 20px 0;
}

#newsletter-container {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

#newsletter-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#newsletter-container input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#newsletter-container .repo-btn {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#newsletter-container .repo-btn:hover {
    background-color: #0056b3;
}

#back {
    text-align: center;
    margin: 20px 0;
}
